#ビルドによって生成されるフォルダ
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Visual Studio  ̈ꎞ t @ C   𖳎 
.vs/
*.suo
*.user
*.ipch
*.opendb
*.db
*.db-shm
*.db-wal
Jam/Intermediate/Jam/Debug/Intermediate/Jam(debug).exe.recipe
Jam/Intermediate/Jam/Debug/Intermediate/Jam.log
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/CL.command.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/Cl.items.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/CL.read.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/CL.write.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/Jam.lastbuildstate
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/link.command.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/link.read.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/link.secondary.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/link.write.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/rc.command.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/rc.read.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/Jam.tlog/rc.write.1.tlog
Jam/Intermediate/Jam/Debug/Intermediate/vc143.idb
Jam/Intermediate/Jam/Debug/Jam(debug).exp
