# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, GameIcon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_5.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/gaussian_blur_13.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/quad_warp.vs)
Resource(engine/shader/d3d11/quad_warp.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_5.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/gaussian_blur_13.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/quad_warp.vert)
Resource(engine/shader/glsl/quad_warp.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////



/* examples

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
Resource(Assets/Credit.png)
Resource(Assets/FlagmentMemory.png)
Resource(Assets/setting_back.png)
Resource(Assets/setting_backMain.png)

Resource(Assets/Title/background.png)
Resource(Assets/Title/logo.png)
Resource(Assets/Title/companyLogo.png)

Resource(Assets/UI/background.png)
Resource(Assets/UI/face_hand.png)
Resource(Assets/UI/face_happy.png)
Resource(Assets/UI/face_normal.png)
Resource(Assets/UI/face_sad.png)
Resource(Assets/UI/fragment_00.png)
Resource(Assets/UI/fragment_01.png)
Resource(Assets/UI/fragment_02.png)
Resource(Assets/UI/fragment_03.png)
Resource(Assets/UI/frameDamage_00.png)
Resource(Assets/UI/frameDamage_01.png)
Resource(Assets/UI/frameNoDamage.png)
Resource(Assets/UI/hp_back.png)
Resource(Assets/UI/hp_front.png)

Resource(Assets/Stage/BG/BG_Back.png)
Resource(Assets/Stage/BG/BG.png)
Resource(Assets/Stage/damage_Stage.jpg)
Resource(Assets/Stage/Goal.png)
Resource(Assets/Stage/moving_platform.png)
Resource(Assets/Stage/White_Test.png)

Resource(Assets/Story/background_stage1_1_start.png)
Resource(Assets/Story/background_stage1_2_start.png)
Resource(Assets/Story/background_stage1_3_start.png)
Resource(Assets/Story/background_stage1_1_clear.png)
Resource(Assets/Story/background_stage1_2_clear.png)
Resource(Assets/Story/background_stage1_3_clear.png)

Resource(Assets/Story/Portrait/Owner/owner_normal.png)
Resource(Assets/Story/Portrait/Owner/owner_smiling.png)
Resource(Assets/Story/Portrait/Owner/owner_surprised.png)
Resource(Assets/Story/Portrait/Owner/owner_suspicious.png)

Resource(Assets/Story/Portrait/Player/player_normal.png)
Resource(Assets/Story/Portrait/Player/player_smiling.png)
Resource(Assets/Story/Portrait/Player/player_surprised.png)
Resource(Assets/Story/Portrait/Player/player_suspicious.png)
Resource(Assets/Story/Portrait/Player/player_conversation.png)

Resource(Assets/Story/Portrait/Riska/riska_normal.png)
Resource(Assets/Story/Portrait/Riska/riska_smiling.png)
Resource(Assets/Story/Portrait/Riska/riska_surprised.png)
Resource(Assets/Story/Portrait/Riska/riska_suspicious.png)

Resource(Assets/Select/area_01.png)
Resource(Assets/Select/area_02.png)
Resource(Assets/Select/area_03.png)
Resource(Assets/Select/serect-AREA_back-screen.png)
Resource(Assets/Select/serect-area_BACK.png)
Resource(Assets/Select/select_area.png)
Resource(Assets/Select/serect-stage_back-screen.png)
Resource(Assets/Select/stage-serect_BACK.png)
Resource(Assets/Select/stage1_1.png)
Resource(Assets/Select/stage1_2.png)
Resource(Assets/Select/stage1_3.png)

Resource(Assets/Result/1_1_clear.png)
Resource(Assets/Result/1_1_miss.png)
Resource(Assets/Result/1_2_clear.png)
Resource(Assets/Result/1_2_miss.png)
Resource(Assets/Result/1_3_clear.png)
Resource(Assets/Result/1_3_miss.png)
Resource(Assets/Result/CLEAR_backscreen.png)
Resource(Assets/Result/GAME_OVER_screen.png)
Resource(Assets/Result/ICON-RISUKA.png)
Resource(Assets/Result/ICON-YUMEMI.png)
Resource(Assets/Result/Result_Crear.png)
Resource(Assets/Result/Result_Game_Over.png)
Resource(Assets/Result/result_KILL.png)
Resource(Assets/Result/result_TIME.png)
Resource(Assets/Result/result_title-MEMORY.png)

Resource(Assets/Item/bomb.png)
Resource(Assets/Item/Missile.png)
Resource(Assets/Cursor/cursor_orange.png)
Resource(Assets/Cursor/cursor_yellow.png)
Resource(Assets/Cursor/cursor_green.png)
Resource(Assets/Cursor/GameCursor.png)

//Player
// Idle
Resource(Assets/Player/Idle/idle_00.png)
Resource(Assets/Player/Idle/idle_01.png)
Resource(Assets/Player/Idle/idle_02.png)
Resource(Assets/Player/Idle/idle_03.png)
Resource(Assets/Player/Idle/idle_04.png)
Resource(Assets/Player/Idle/idle_05.png)
Resource(Assets/Player/Idle/idle_06.png)
Resource(Assets/Player/Idle/idle_07.png)
Resource(Assets/Player/Idle/idle_08.png)
Resource(Assets/Player/Idle/idle_09.png)
Resource(Assets/Player/Idle/idle_10.png)
Resource(Assets/Player/Idle/idle_11.png)
Resource(Assets/Player/Idle/idle_12.png)
Resource(Assets/Player/Idle/idle_13.png)
Resource(Assets/Player/Idle/idle_14.png)
Resource(Assets/Player/Idle/idle_15.png)
Resource(Assets/Player/Idle/idle_16.png)
Resource(Assets/Player/Idle/idle_17.png)
Resource(Assets/Player/Idle/idle_18.png)
Resource(Assets/Player/Idle/idle_19.png)
Resource(Assets/Player/Idle/idle_20.png)
Resource(Assets/Player/Idle/idle_21.png)
Resource(Assets/Player/Idle/idle_22.png)
Resource(Assets/Player/Idle/idle_23.png)
Resource(Assets/Player/Idle/idle_24.png)
Resource(Assets/Player/Idle/idle_25.png)
Resource(Assets/Player/Idle/idle_26.png)
Resource(Assets/Player/Idle/idle_27.png)
Resource(Assets/Player/Idle/idle_28.png)
Resource(Assets/Player/Idle/idle_29.png)

// Walk
Resource(Assets/Player/Walk/walk_00.png)
Resource(Assets/Player/Walk/walk_01.png)
Resource(Assets/Player/Walk/walk_02.png)
Resource(Assets/Player/Walk/walk_03.png)
Resource(Assets/Player/Walk/walk_04.png)
Resource(Assets/Player/Walk/walk_05.png)
Resource(Assets/Player/Walk/walk_06.png)
Resource(Assets/Player/Walk/walk_07.png)
Resource(Assets/Player/Walk/walk_08.png)
Resource(Assets/Player/Walk/walk_09.png)
Resource(Assets/Player/Walk/walk_10.png)
Resource(Assets/Player/Walk/walk_11.png)
Resource(Assets/Player/Walk/walk_12.png)
Resource(Assets/Player/Walk/walk_13.png)
Resource(Assets/Player/Walk/walk_14.png)
Resource(Assets/Player/Walk/walk_15.png)
Resource(Assets/Player/Walk/walk_16.png)
Resource(Assets/Player/Walk/walk_17.png)
Resource(Assets/Player/Walk/walk_18.png)
Resource(Assets/Player/Walk/walk_19.png)
Resource(Assets/Player/Walk/walk_20.png)
Resource(Assets/Player/Walk/walk_21.png)
Resource(Assets/Player/Walk/walk_22.png)
Resource(Assets/Player/Walk/walk_23.png)
Resource(Assets/Player/Walk/walk_24.png)
Resource(Assets/Player/Walk/walk_25.png)
Resource(Assets/Player/Walk/walk_26.png)
Resource(Assets/Player/Walk/walk_27.png)
Resource(Assets/Player/Walk/walk_28.png)
Resource(Assets/Player/Walk/walk_29.png)

// Jump
Resource(Assets/Player/Jump/jump_00.png)
Resource(Assets/Player/Jump/jump_01.png)
Resource(Assets/Player/Jump/jump_02.png)
Resource(Assets/Player/Jump/jump_03.png)
Resource(Assets/Player/Jump/jump_04.png)
Resource(Assets/Player/Jump/jump_05.png)
Resource(Assets/Player/Jump/jump_06.png)
Resource(Assets/Player/Jump/jump_07.png)
Resource(Assets/Player/Jump/jump_08.png)
Resource(Assets/Player/Jump/jump_09.png)
Resource(Assets/Player/Jump/jump_10.png)
Resource(Assets/Player/Jump/jump_11.png)
Resource(Assets/Player/Jump/jump_12.png)
Resource(Assets/Player/Jump/jump_13.png)
Resource(Assets/Player/Jump/jump_14.png)
Resource(Assets/Player/Jump/jump_15.png)
Resource(Assets/Player/Jump/jump_16.png)
Resource(Assets/Player/Jump/jump_17.png)
Resource(Assets/Player/Jump/jump_18.png)
Resource(Assets/Player/Jump/jump_19.png)
Resource(Assets/Player/Jump/jump_20.png)
Resource(Assets/Player/Jump/jump_21.png)
Resource(Assets/Player/Jump/jump_22.png)
Resource(Assets/Player/Jump/jump_23.png)
Resource(Assets/Player/Jump/jump_24.png)
Resource(Assets/Player/Jump/jump_25.png)
Resource(Assets/Player/Jump/jump_26.png)
Resource(Assets/Player/Jump/jump_27.png)
Resource(Assets/Player/Jump/jump_28.png)
Resource(Assets/Player/Jump/jump_29.png)

// ChokerThrow
Resource(Assets/Player/ChokerThrow/choker_throw_00.png)
Resource(Assets/Player/ChokerThrow/choker_throw_01.png)
Resource(Assets/Player/ChokerThrow/choker_throw_02.png)
Resource(Assets/Player/ChokerThrow/choker_throw_03.png)
Resource(Assets/Player/ChokerThrow/choker_throw_04.png)
Resource(Assets/Player/ChokerThrow/choker_throw_05.png)
Resource(Assets/Player/ChokerThrow/choker_throw_06.png)
Resource(Assets/Player/ChokerThrow/choker_throw_07.png)
Resource(Assets/Player/ChokerThrow/choker_throw_08.png)
Resource(Assets/Player/ChokerThrow/choker_throw_09.png)
Resource(Assets/Player/ChokerThrow/choker_throw_10.png)
Resource(Assets/Player/ChokerThrow/choker_throw_11.png)
Resource(Assets/Player/ChokerThrow/choker_throw_12.png)
Resource(Assets/Player/ChokerThrow/choker_throw_13.png)
Resource(Assets/Player/ChokerThrow/choker_throw_14.png)
Resource(Assets/Player/ChokerThrow/choker_throw_15.png)
Resource(Assets/Player/ChokerThrow/choker_throw_16.png)
Resource(Assets/Player/ChokerThrow/choker_throw_17.png)
Resource(Assets/Player/ChokerThrow/choker_throw_18.png)
Resource(Assets/Player/ChokerThrow/choker_throw_19.png)
Resource(Assets/Player/ChokerThrow/choker_throw_20.png)
Resource(Assets/Player/ChokerThrow/choker_throw_21.png)
Resource(Assets/Player/ChokerThrow/choker_throw_22.png)
Resource(Assets/Player/ChokerThrow/choker_throw_23.png)
Resource(Assets/Player/ChokerThrow/choker_throw_24.png)
Resource(Assets/Player/ChokerThrow/choker_throw_25.png)
Resource(Assets/Player/ChokerThrow/choker_throw_26.png)
Resource(Assets/Player/ChokerThrow/choker_throw_27.png)
Resource(Assets/Player/ChokerThrow/choker_throw_28.png)
Resource(Assets/Player/ChokerThrow/choker_throw_29.png)


//Enemy
Resource(Assets/Enemy/Boss1_3/idle_0.png)
Resource(Assets/Enemy/Boss1_3/idle_1.png)
Resource(Assets/Enemy/Boss1_3/Shockwave/shockwave_00.png)
Resource(Assets/Enemy/Boss1_3/Shockwave/shockwave_01.png)
Resource(Assets/Enemy/Boss1_3/Shockwave/shockwave_02.png)
Resource(Assets/Enemy/Boss1_3/Shockwave/shockwave_03.png)
Resource(Assets/Enemy/Boss1_3/Shockwave/shockwave_04.png)
Resource(Assets/Enemy/Clown/idle_0.png)
Resource(Assets/Enemy/Eye/idle_0.png)
Resource(Assets/Enemy/Eye/idle_1.png)
Resource(Assets/Enemy/Eye/Beam.png)
Resource(Assets/Enemy/GothicLolitaDoll/idle_0.png)
Resource(Assets/Enemy/GothicLolitaDoll/idle_1.png)
Resource(Assets/Enemy/LittleDevil/idle_0.png)
Resource(Assets/Enemy/Ribbon/idle_0.png)
Resource(Assets/Enemy/Spider/idle_0.png)
